---
import Layout from '../components/layout.astro'
import Footer from '../components/footer.astro'
---

<Layout>
  <button class="bg-purple-500 text-white p-4">Daftar jadi speaker</button>

  <Footer />
</Layout>
